test
testvideo.mp4
test_out.mp4
.project
.clang-format
vgcore.*
test_out*
autom4te.cache/
configure
configure~
Makefile
Makefile.in
aclocal.m4
compile
install-sh
missing
config.log
config.status
rva
*.o
